//--Roboto----------------------

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-italic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-thin-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-thinitalic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-light-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-medium-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-medium-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-black-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('/fonts/roboto/roboto-blackitalic-webfont.woff') format('woff'),
  			url('/fonts/roboto/roboto-blackitalic-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

.roboto {
	font-family: 'Roboto', sans-serif !important;
	font-weight: normal !important;
	font-style: normal !important;
	&.italic {
		font-style: italic !important;
	}
	&.thin {
		font-weight: 100 !important;
	}
	&.thin-italic {
		font-weight: 100 !important;
		font-style: italic !important;
	}
	&.light {
		font-weight: 300 !important;
	}
	&.light-italic {
		font-weight: 300 !important;
		font-style: italic !important;
	}
	&.medium {
		font-weight: 600 !important;
	}
	&.medium-italic {
		font-weight: 600 !important;
		font-style: italic !important;
	}
	&.bold {
		font-weight: 700 !important;
	}
	&.bold-italic {
		font-weight: 700 !important;
		font-style: italic !important;
	}
	&.black {
		font-weight: 900 !important;
	}
	&.black-italic {
		font-weight: 900 !important;
		font-style: italic !important;
	}
}