@import '../../setup/variables';

.background-content {
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-position: center;
	background-size: cover;
	.bg-overlay {
		opacity: 0;
		background-color: transparent;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		transition: opacity $med-speed $ease, background $med-speed $ease;
	}
}