@import '../../setup/variables';

.ds-color-picker {
	background: transparent;
	position: relative;
	z-index: 12;
	* {
		font-family: 'Roboto', sans-serif !important;
	}
	.chrome-picker {
		overflow: hidden !important;
		background: $pane-bg !important;
		width: 100% !important;
		box-shadow: none !important;
		// box-shadow: 0 10px 40px rgba(0, 0, 0, .2) !important;
		border-radius: 0 !important;
		> div:first-of-type {
			border-radius: 0 !important;
			padding-bottom: 91px !important;
		}
		input[type=text] {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    background-image: none;
	    background: transparent;
	    border: 1px solid #d9d9d9;
	    box-shadow: none;
	    outline: none;
	    font-size: 12px;
	    padding: 0px 7px 0px;
	    width: 100%;
	    margin: 0;
	    line-height: 30px;
	    border-radius: 2px;
	    transition: background 0.2s ease-in-out, border 0.2s;
	    resize: none;
	    vertical-align: top;
	    text-indent: 0px;
	    height: 30px;
		}
	}
}