@import '../../setup/variables';

$ds-color-container-1 : transparent;
$ds-color-container-2 : transparent;
$ds-color-container-3 : transparent;
$ds-color-container-4 : transparent;

// uncomment to show containers
// $ds-color-container-1 : #ccc;
// $ds-color-container-2 : green;
// $ds-color-container-3 : red;
// $ds-color-container-4 : blue;

.ds-color-picker {
	background: transparent;
	position: relative;
	z-index: 12;
	* {
		font-family: 'Roboto', sans-serif !important;
	}
	.chrome-picker {
		overflow: hidden !important;
		background: $pane-bg !important;
		width: 100% !important;
		box-shadow: none !important;
		// box-shadow: 0 10px 40px rgba(0, 0, 0, .2) !important;
		border-radius: 0 !important;
		> div:first-of-type {
			border-radius: 0 !important;
			padding-bottom: 91px !important;
			+ div {
				background: $ds-color-container-1;
				padding: $pane-padding;
				> div:first-of-type {
					align-items: center;
					background: $ds-color-container-2;
					> div:nth-child(1) {
						> div {
							margin-top: 0 !important;
					    width: 22px !important;
					    height: 22px !important;
					    border-radius: 11px !important;
					    > div {
					    	border-radius: 11px !important;
						    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 2px inset !important;
					    }
				  	}
					}
					> div:nth-child(2) {
						background: $ds-color-container-4;
						height: 16px;
						> div {
							margin: 0 !important;
							height: 100% !important;
					    > div {
					    	border-radius: 20px;
						    overflow: hidden;
						    > div {
						    	margin: 2px 8px !important;
						    	// color slider handle
						    	> div {
						    		> div {
						    			transform: translate(-6px, 0px) !important;
						    		}
						    	}
						    }
					    }
							&:nth-child(2) {
								display: none;
							}
						}
					}
				}
				> div:nth-child(2) {
					background: $ds-color-container-3;
					padding-top: 12px !important;
				}
			}
		}
		input[type=text] {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    background-image: none;
	    background: transparent;
	    border: 1px solid #d9d9d9;
	    box-shadow: none;
	    outline: none;
	    font-size: 12px;
	    padding: 0px 7px 0px;
	    width: 100%;
	    margin: 0;
	    line-height: 30px;
	    border-radius: 2px;
	    transition: background 0.2s ease-in-out, border 0.2s;
	    resize: none;
	    vertical-align: top;
	    text-indent: 0px;
	    height: 30px;
		}
	}
}