@import '../setup/variables';
@import '../setup/mixins';

.app-content .ds-landing {
	font-family: 'GT Haptik', sans-serif;

	.ds-page-section {
		
		&.auto-height {
			min-height: auto;
		}

		.section-content {
			padding: 9% 0 10% !important;
			.container.wide {
				max-width: 1300px;
			}
		}

		&.intro-section {
			background: $primary-color;
			color: #fff;
			padding-bottom: 60px;
			.arrow-wrapper {
				position: absolute;
				bottom: 40px;
				left: 50%;
				margin-left: -10px;
				animation: ds-bounce 3s 6.2s $ease infinite;
				.arrow {
					width: 20px;
					height: 20px;
					display: block;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #fff;
					transform: rotate(45deg);
					-webkit-transform-origin: center;
				}
			}
			.section-content {
				.container {
					max-width: 750px;
					@include font-smooth();
					.logo {
						svg {
							* {
								fill: #fff;
							}
						}
					}
					.logotype {
						margin: 20px auto 30px;
						svg { 
							* {
								fill: #fff;
							}
						}
					}
				}
			}
			h2 {
				font-size: 30px;
				line-height: 1.1em;
				color: #fff;
				font-weight: 400;
				@include respond($md) {
					font-size: 55px;
				}
			}
			h4 {
				color: #fff;
				font-size: 16px;
				font-weight: normal;
				letter-spacing: .02em;
				line-height: 1.333em;
				margin-bottom: 6px;
				margin-top: 20px;
			}
			.intro-form {
				max-width: 550px;
				margin-left: auto;
				margin-right: auto;
			}
			.under-form {
				@include clearfix;
				margin-top: 11px;
				padding: 0 15px;
				.left {
					text-align: center;
					font-size: 12px;
					color: darken($primary-color, 12.5%);
					letter-spacing: .02em;
					line-height: 1.25em;
					padding: 0 0 3px;
					@include respond($md) {
						text-align: left;
						float: left;
						width: 33.333%;
					}
					a {
						color: darken($primary-color, 15%);
						&:hover {
							color: $text-color;
						}
					}
				}
				.right {
					text-align: center;
					font-size: 12px;
					color: darken($primary-color, 15%);
					letter-spacing: .02em;
					line-height: 1.25em;
					padding: 0 0 3px;
					@include respond($md) {
						text-align: right;
						float: right;
						width: 66.666%;
					}
				}
			}
		}

		&.description-section {
			background: #000;
			color: #fff;
			@include font-smooth();
			h3 {
				font-size: 14px;
				line-height: 1.25em;
				letter-spacing: .15em;
				text-transform: uppercase;
				color: #fff;
				font-weight: 700;
			}
			hr {
				width: 50px;
				height: 1px;
				border: none;
				background: $primary-color;
				margin-top: 15px;
				margin-bottom: 16px;
			}
			p {
				font-size: 18px;
				line-height: 1.4em;
				color: #fff;
				@include respond($md) {
					font-size: 24px;
				}
			}
		}

		&.examples-section {
			background: #fff;
			color: $text-color;
			h3 {
				font-size: 24px;
				line-height: 1.4em;
				font-weight: 400;
				@include font-smooth();
				@include respond($md) {
					font-size: 36px;
				}
			}
			hr {
				width: 50px;
				height: 1px;
				border: none;
				background: $primary-color;
				margin: 10px auto 15px;
			}
			p {
				@include font-smooth();
				font-size: 16px;
				line-height: 1.5em;
				max-width: 32em;
				margin-left: auto;
				margin-right: auto;
			}
			.example-grid {
				margin: 40px 0 -20px;
				@include respond($md) {
					margin: 60px -20px -40px;
					@include clearfix();
				}
				.example {
					padding-bottom: 20px;

					img {
						border-radius: 3px;
						box-shadow: -40px 30px 40px rgba(0, 0, 0, .1);
					}
					@include respond($md) {
						float: left;
						padding: 0 20px 40px;
						width: 50%;
					}
					@include respond($lg) {
						width: 33.333%;
					}
				}
			}
		}

		&.bottom-signup-section {
			background: $primary-color;
			color: #fff;
			height: 65vh;
			h3 {
				font-size: 24px;
				line-height: 1.25em;
				font-weight: 400;
				color: #fff;
				margin-bottom: 16px;
				@include font-smooth();
				@include respond($md) {
					font-size: 36px;
				}
			}
		}

		.section-content {
			.container {
				.logo {
					width: 100%;
					max-width: 180px;
					display: block;
					margin: 0 auto 10px;
					svg {
						* {
							fill: $text-color;
						}
					}
				}
				color: $text-color;
				.newsletter-form {
					max-width: 550px;
					margin-left: auto;
					margin-right: auto;
					@include clearfix();
					input {
						font-family: 'GT Haptik', sans-serif;
						height: 50px;
						border-color: #fff;
						background: #fff;
						font-size: 16px;
						border-radius: 50px;
						padding-left: 20px;
						line-height: 50px;
						@include font-smooth();
						@include respond($md) {
							float: left;
							width: 65%;
							border-right: none;
							border-radius: 50px 0 0 50px;
						}
					}
					button {
						margin-top: 10px;
						height: 50px;
						line-height: 50px;
						background: #000;
						font-family: 'GT Haptik', sans-serif;
						font-size: 12px;
						@include font-smooth();
						font-weight: 700;
						&:hover {
							background: darken($primary-color, 35%);
						}
						@include respond($md) {
							border-radius: 0 50px 50px 0;
							float: left;
							width: 35%;
							margin-top: 0px;
						}
					}
				}
			}
		}
	}

}