@import '../setup/variables';
@import '../setup/mixins';

.app-content .ds-page-section {

	&.intro-section {
		// .arrow-wrapper {
		// 	animation: ds-bounce 3s 6.2s $ease infinite;
		// 	.arrow {
		// 		opacity: 0;
		// 		margin-top: -120px;
		// 		animation: ds-fade-in-down 1.5s 6.2s $ease forwards;
		// 	}
		// }
		.section-content {
			.container {
				.logo {
					max-width: 250px;
					transform-origin: center;
					animation: ds-intro-logo .5s 1.5s $ease forwards;
					svg {
						max-width: 100%;
					}
				} 
				.logotype {
					opacity: 0;
					margin-bottom: -200px;
					animation: ds-fade-in-up 1s 1.5s $ease forwards;
				}
			}
		}
		h2 {
			opacity: 0;
			margin-bottom: -200px;
			animation: ds-fade-in-up 1s 3s $ease forwards;
		}
		h4 {
			opacity: 0;
			margin-bottom: -200px;
			animation: ds-fade-in-up 1s 3.2s $ease forwards;
		}
		.intro-form {
			opacity: 0;
			margin-bottom: -200px;
			animation: ds-fade-in-up 1s 3.4s $ease forwards;
		}
	}
}

@keyframes ds-intro-logo {
	100% { transform: scale(.333); margin-top: -83.333px; margin-bottom: -83.333px; }
}

@keyframes ds-fade-in-up {
	0% { opacity: 0; transform: translateY(50px); }
	100% { opacity: 1; transform: translateY(0px); margin-bottom: 0; }
}