@import '../setup/variables';

$ripple-speed: 2.5s;
$ripple-delay: $ripple-speed * .05;
$ripple-invert-delay: $ripple-speed * .05;
$ripple-size: 150px;

.logo {
	width: $ripple-size;
	margin: -($ripple-size/2);

	&.light {
		svg * {
			fill: #fff;
		}
	}
	&.dark {
		svg * {
			fill: #000;
		}
	}

	svg {
		overflow: visible;
		* {
			transform-origin: center;
		}
	}

	&.ripple {
		svg {
			.ball-center {
				animation: ripple-invert $ripple-speed ($ripple-invert-delay * 6) ease-in-out forwards;
			}
			.balls-1 {
				animation: ripple $ripple-speed ($ripple-delay * 0) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 0) ease-in-out forwards;
				}
			}
			.balls-2 {
				animation: ripple $ripple-speed ($ripple-delay * 1) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 1) ease-in-out forwards;
				}
			}
			.balls-3 {
				animation: ripple $ripple-speed ($ripple-delay * 2) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 2) ease-in-out forwards;
				}
			}
			.balls-4 {
				animation: ripple $ripple-speed ($ripple-delay * 3) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 3) ease-in-out forwards;
				}
			}
			.balls-5 {
				animation: ripple $ripple-speed ($ripple-delay * 4) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 4) ease-in-out forwards;
				}
			}
			.balls-6 {
				animation: ripple $ripple-speed ($ripple-delay * 5) ease-in-out forwards;
				circle,
				ellipse {
					animation: ripple-invert $ripple-speed ($ripple-invert-delay * 5) ease-in-out forwards;
				}
			}
		}
	}
}

// @keyframes ripple {
// 	0%, 100% { transform: scale(1); }
// 	50% { transform: scale(.75); }
// }

// @keyframes ripple-invert {
// 	0%, 100% { transform: scale(1); }
// 	50% { transform: scale(.3); }
// }

@keyframes ripple {
	0%, 100% { transform: scale(1); }
	25% { transform: scale(.75); }
	50% { transform: scale(1.05); }
	75% { transform: scale(.9); }
}

@keyframes ripple-invert {
	0%, 50%, 100% { transform: scale(1); }
	25% { transform: scale(.3); }
	75% { transform: scale(.75); }
}